.theme.navbar {
    background: #ef4238;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.fixed-top-mt {
    margin-top: 56px;
}
.btn-white {
    color: #ef4238;
    background: #ffffff;
    border-color: #ffffff;
}
.btn-white:hover {
    border-color: #ffffff;
    color: #ffffff;
    background: transparent;
}
.btn-outline-white {
    border-color: #ffffff;
    color: #ffffff;
    background: transparent;
}
.btn-outline-white:hover {
    color: #ef4238;
    background: #ffffff;
    border-color: #ffffff;
}
.user-avatar {
    height: 36px;
    width: 36px;
    border: 1px solid #ffffff;
}
.user-username {
    font-size: 1.25rem;
    color: #ffffff;
    border: 0;
    background: #ef4238;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: pointer;
}
.nav-link {
    outline: none;
}
.detail .movie-info .score {
    color: #ef4238;
}
.detail .movie-info button,
.detail .movie-info a.btn {
    width: 100%;
}
.detail .movie-info button.btn-danger {
    background: #ef4238;
}
.detail .movie-info button.btn-danger:hover {
    background: #D63539;
}